<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ site.baseurl }}/README.md">🏠 Home</a></li>
            <li><a href="{{ site.baseurl }}/projects.md">📊 Projects</a></li>
        </ul>
    </nav>

    <main>
        {{ content }}
    </main>

</body>
</html>
